{% extends 'main/base.html' %}
{% load static %}
{% block page_content %}
<!-- ************************************************************ -->
{% verbatim %}
    <section id="app" class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
            <!-- Последни доставки -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start"><h6>Филтър</h6></li>
                    <li><a class="dropdown-item" href="#">Този месец</a></li>
                    <li><a class="dropdown-item" href="#">Тази година</a></li>
                    <li><a class="dropdown-item" href="#">Всички</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Последни доставки <span>| този месец</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">дата</th>
                        <th scope="col">документ</th>
                        <th scope="col">доставчик</th>
                        <th scope="col">приел</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="operation in operations">
                        <th scope="row" v-if="operation.type==0"><a href="#">#{{operation.id}}</a></th>
                        <td v-if="operation.type==0">{{operation.date}}</td>
                        <td v-if="operation.type==0"><a href="#" class="text-primary">{{operation.doc}}</a></td>
                        <td v-if="operation.type==0">{{operation.partner1}}</td>
                        <td v-if="operation.type==0">{{operation.partner2}}</td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Последни доставки -->

            <!-- Последни изписвания -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start"><h6>Филтър</h6></li>
                    <li><a class="dropdown-item" href="#">Този месец</a></li>
                    <li><a class="dropdown-item" href="#">Тази година</a></li>
                    <li><a class="dropdown-item" href="#">Всички</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Последни изписвания <span>| този месец</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">дата</th>
                        <th scope="col">документ</th>
                        <th scope="col">получател</th>
                        <th scope="col">предал</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="operation in operations">
                        <th scope="row" v-if="operation.type>0"><a href="#">#{{operation.id}}</a></th>
                        <td v-if="operation.type>0">{{operation.date}}</td>
                        <td v-if="operation.type>0"><a href="#" class="text-primary">{{operation.doc}}</a></td>
                        <td v-if="operation.type>0">{{operation.partner1}}</td>
                        <td v-if="operation.type>0">{{operation.partner2}}</td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Последни доставки -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent Activity -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start"><h6>Филтър</h6></li>
                <li><a class="dropdown-item" href="#">Този месец</a></li>
                <li><a class="dropdown-item" href="#">Тази година</a></li>
                <li><a class="dropdown-item" href="#">Всички</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">Хронология на документооборота<span>|този месец</span></h5>

              <div class="activity">

                <div class="activity-item d-flex" v-for="operation in operations">
                  <i class='bi bi-circle-fill activity-badge text-success align-self-start' v-if="operation.type==0"></i>
                  <i class='bi bi-circle-fill activity-badge text-danger align-self-start' v-if="operation.type>0"></i>
                  <div class="activity-label"> {{operation.date}}</div>
                  <div class="activity-content"> {{operation.doc}} </div>
                </div><!-- End activity item-->

              </div>

            </div>
          </div><!-- End Recent Activity -->

        </div><!-- End Right side columns -->

      </div>
    </section>
{% endverbatim %}
<!-- ************************************************************ -->
{% endblock %}
{% block vue_files %}
      <script src="{% static 'REST/index.js' %}"></script>
{% endblock %}