{% extends 'main/base.html' %}
{% load static %}
{% block page_content %}
<!-- ************************************************************ -->
{% verbatim %}
    <section id="app" class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> </h5>
              <div class="row mb-3">
                <div class="col-sm-2 col-form-label"><h5>СКЛАД:</h5></div>
                <div class="col-sm-10">
                  <select class="form-select" aria-label="Default select example" v-model="selected_stock_id" >
                    <option v-for="(stock, idx) in stocks"  :value="stock.id">{{ stock.name }}</option>
                  </select>
                </div>
              </div>

              <!-- Table with stripped rows -->
              <h5 class="card-title">НАЛИЧНОСТ В СКЛАДА:</h5>
              <table class="table datatable">
                <thead>
                  <tr>
                    <th style="width:10%;">Инв. №</th>
                    <th style="width:70%;">Наименование</th>
                    <th style="width:10%;">Количество</th>
                    <th style="width:10%;">Мярка</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in items">
                    <td v-if="item.stock.id==selected_stock_id">{{item.id}}</td>
                    <td v-if="item.stock.id==selected_stock_id">{{item.name}}</td>
                    <td v-if="item.stock.id==selected_stock_id" style="text-align: right;">{{item.quantity}}</td>
                    <td v-if="item.stock.id==selected_stock_id">{{item.measure}}</td>
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>
{% endverbatim %}

<!-- ************************************************************ -->
{% endblock %}

{% block vue_files %}
      <script src="{% static 'REST/stock.js' %}"></script>
{% endblock %}
